.card {
  width: 22rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px var(--color-gray-300);
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.card:hover {
  rotate: 2deg;
  border-color: var(--color-blue-600);
}

.add {
  width: 22rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
}
